/** @format */
/* page reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  --White: hsl(0, 0%, 100%);
  --Stone_100: hsl(30, 54%, 90%);
  --Stone_150: hsl(30, 18%, 87%);
  --Stone_600: hsl(30, 10%, 34%);
  --Stone_900: hsl(24, 5%, 18%);
  --Brown_800: hsl(14, 45%, 36%);
  --Rose_800: hsl(332, 51%, 32%);
  --Rose_50: hsl(330, 100%, 98%);
}
/* @media only screen and (min-width: 375px) { */
/* CHANGES SETTINGS AT 375px SCREEN SIZE */
body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}
.hero-wrapper img {
  width: 100vw;
}
.hero {
  display: none;
}
.mobile-card {
  margin: 1rem;
}
/* .about {
  margin: 1rem;
} */
.recipe-name {
  font-size: 1rem;
  font-family: "Young Serif", serif;
  /* margin: 1rem auto; */
  color: var(--Stone_900);
}
.recipe-description {
  font-family: "Outfit", sans-serif;
  /* margin: 1rem auto; */
  font-size: 0.6rem;
  line-height: 0.9rem;
  /* font-weight: 400; */
  color: var(--Stone_600);
}

.prep {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--Rose_50);
}
.prep-header {
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: var(--Rose_800);
}

.prep ul {
  margin: 1.5rem;
}
.prep-list {
  font-size: 1rem;
}

.ingredients-header {
  font-family: "Young Serif", serif;
}
@media only screen and (min-width: 744px) {
  /*ABOVE CHANGES SETTINGS AT 744px SCREEN SIZE*/
}

/* .card {
  background-color: var(--White);
  margin: 6rem auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 45%;
} */

/* .hero-wrapper img { */
/* width: 75%; */
/* border-radius: 1rem;
  margin: 0 auto;
}

.header1 {
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
}

.about {
  font-family: "Outfit", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.prep {
  background-color: var(--Rose_50);
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Outfit", sans-serif;
}

.header2 {
  color: var(--Rose_800);
}

.ingredients h1,
.instructions h1,
.nutrition h1 {
  font-family: "Young Serif", serif;
  color: var(--Rose_800);
}

.instructions li {
  color: var(--Stone_900);
}

ol li::marker {
  color: var(--Rose_800);
}

.nutrition h2 {
  font-size: 1rem;
  font-weight: normal;
} */
